version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "daily"
      open-pull-requests-limit: 10
      rebase-strategy: "auto"
      labels:
          - "dependencies"
      assignees:
          - "daviemania"
      commit-message:
          prefix: "chore(deps):"
      groups:
          npm-dependencies:
              patterns:
              update-types:
                  - "security"
                  - "patch"
                  - "minor"
                  - "major"
